<div class="card">
  <span class="block text-gray-900 font-bold text-xl mb-4">Registro de Documentos enviados por el SRI</span>

  @if (haveEmail) {
    @if (loading) {
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem; color: #70aeff"></i>
    } @else {
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12">
          <div class="card">
            <h4>Cargar archivo</h4>
            <p-fileUpload
              name="doc[]"
              [customUpload]="true"
              (uploadHandler)="uploadFilesDirectly($event)"
              (onSelect)="onFilesSelected($event)"
              [multiple]="true"
              [auto]="false"
              accept=".txt,.csv,.json,.xml"
              maxFileSize="20971520"
              chooseLabel="Seleccionar"
              uploadLabel="Subir"
              cancelLabel="Cancelar">
              <ng-template pTemplate="content">
                @if (uploadFiles.length) {
                  <ul>
                    @for (file of uploadFiles; track $index) {
                      <li>{{ file.name }} - {{ file.size }} bytes</li>
                    }
                  </ul>
                }
              </ng-template>
            </p-fileUpload>
          </div>

          <div class="card">
            <h4>Subir texto</h4>
            <textarea rows="5"
                      placeholder="Ingrese el documento"
                      [(ngModel)]="textContent"
                      pInputTextarea
                      class="w-full p-inputtext"
                      style="resize:none; overflow-y:auto"></textarea>
            <button pButton pRipple label="Enviar Texto" [loading]="loading" icon="pi pi-send"
                    (click)="uploadString(textContent)"></button>
          </div>
        </div>
      </div>
    }
  } @else {
    <div class="card">
      <h4>Usuario sin registro de correo </h4>
      <span>Solicita tu correo </span>
    </div>
  }
</div>
