<div class="flex min-h-screen w-full flex-col items-center justify-center bg-cover bg-center px-4" style="background-image: url('/images/background/fondoDeuna.webp');">
  @if (imageBase64) {
    <!-- QR -->
    <div class="mb-5 rounded-xl bg-white/50 p-5 shadow-lg backdrop-blur-sm">
      <img
        [src]="imageBase64"
        alt="Código QR"
        class="h-auto w-[450px] max-w-full rounded-lg object-contain"
        />
    </div>
    <!-- Progress -->
    <div class="w-full max-w-[600px]">
      <div class="relative h-2 w-full overflow-hidden rounded-full bg-slate-200">
        <div class="absolute h-full w-1/3 rounded-full bg-blue-600 animate-[slide_1.5s_infinite]"></div>
      </div>
    </div>
  }
</div>

<app-alert-dialog
  [(visible)]="showDialog"
  [type]="dialogType"
  [title]="dialogTitle"
  [message]="dialogMessage"
  (accept)="acceptDialog()"
/>

<app-toast [(visible)]="showToast" [summary]="toastSummary" />
