<div class="card">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
      <span class="text-900 text-2xl mb-4 block">Orden Compra</span>

      @if (!sciSelected) {
        <div class="col-span-12 lg:col-span-6">
          <div class="flex items-center gap-2">
            <span class="flex-1">
              <label for="sciSearch" class="p-sr-only">Solicitud</label>
              <input id="sciSearch" type="text" pInputText placeholder="Buscar Tramite" autocomplete="off" pTooltip="Ingrese el numero de tramite a buscar" [(ngModel)]="solicitud" (keydown.enter)="buscarSCI($event)" class="w-full">
            </span>
            <button pButton pRipple type="button" label="Buscar" icon="pi pi-search" pTooltip="Click para buscar" (click)="buscarSCI($event)"></button>
          </div>
        </div>
      } @else {
        <div class="surface-card grid grid-cols-12 border-round shadow-2 mb-6">
          <div class="col-span-12 flex p-2 surface-100 border-round-top">
            <div class="p-2 flex-auto text-center md:text-left">
              <span class="text-700 block">Solicitud</span>
              <span class="text-900 font-medium block mt-2">{{ sciSelected.comprobante }}</span>
            </div>
            <p-divider align="center" layout="vertical" styleClass="h-full mx-0 lg:mx-3 surface-border"></p-divider>
            <div class="p-2 flex-auto text-center md:text-left">
              <span class="text-700 block">Descripción</span>
              <span class="text-900 font-medium block mt-2">{{ sciSelected.description }}</span>
            </div>
          </div>
        </div>

        <span class="text-700 block mb-3">Seleccione una bodega</span>

        <div class="grid grid-cols-12 gap-4 items-end mb-4">
          <div class="col-span-12 lg:col-span-8">
            <app-seleccion-bodegas></app-seleccion-bodegas>
          </div>

          <div class="col-span-12 lg:col-span-4">
            <button pButton pRipple [label]="getButtonLabel()" icon="pi pi-check-circle" class="p-button-outlined w-full"></button>
          </div>
        </div>

        <div class="flex flex-col md:flex-row md:items-center gap-2 md:gap-4 mb-4">
          <label for="observacion" class="font-semibold md:w-24">Descripcion</label>
          <input pInputText id="observacion" class="flex-1 w-full" autocomplete="off" [(ngModel)]="observacion"/>
        </div>
      }
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-12">
    <div class="card col-12">
      @if (proveedor && observacion) {
        @if (!loading) {
          @if (!listOrders) {
            <h5>Ingrese el archivo</h5>
            <p-fileUpload name="products[]"
                          [customUpload]="true"
                          (uploadHandler)="onUpload($event)"
                          [multiple]="false"
                          accept=".xlsx"
                          chooseLabel="Seleccionar"
                          uploadLabel="Subir"
                          cancelLabel="Cancelar"
                          [maxFileSize]="20971520"> <!--20MB-->
              <ng-template pTemplate="content">
                @if (uploadedFiles.length) {
                  <ul>
                    @for (file of uploadedFiles; track $index) {
                      <li>
                        {{ file.name }} - {{ file.size }} bytes
                      </li>
                    }
                  </ul>
                }
              </ng-template>
            </p-fileUpload>
          } @else {
            <button pButton pRipple label="Registrar otro documento" severity="secondary" (click)="reiniciarProceso()"
                    class="p-button-raised mb-4"></button>
            @defer {
              <div class="grid">
                @if (listaOrdenes.listWhitSci.length > 0) {
                  <div class="col-12 md:col-6"
                       [ngClass]="{'md:col-12': !(listaOrdenes.listNotSci && listaOrdenes.listNotSci.length > 0)}">
                    <p-table
                      [value]="listaOrdenes.listWhitSci"
                      dataKey="secuencia"
                      [rows]="30"
                      class="my-3 p-p3"
                      [scrollable]="true" scrollHeight="400px"
                      styleClass="p-datatable-gridlines"
                      [rowsPerPageOptions]="[10,30,50,100]"
                      responsiveLayout="scroll">

                      <ng-template pTemplate="caption">
                        <h5>Productos pertenecientes a la Solicitud <i
                          class="pi true-icon pi-check-circle text-green-500"></i></h5>
                        <p-toggleButton [(ngModel)]="novedadFrozen" [onIcon]="'pi pi-eye'" offIcon="pi pi-eye-slash"
                                        [onLabel]="'Observaciones'" offLabel="Observaciones"
                                        [style]="{'width' : '12rem'}"></p-toggleButton>
                      </ng-template>

                      <ng-template pTemplate="header">
                        <tr>
                          <th pFrozenColumn></th>
                          <th pFrozenColumn>Barra</th>
                          <th>Nombre</th>
                          <th>Item</th>
                          <th>Cantidad</th>
                          <th>Codigo Fabrica</th>
                          <th>CXB</th>
                          <th>FOB</th>
                          <th>CBM</th>
                          <th>Cantidad Total</th>
                          <th>CBM Total</th>
                          <th>FOB Total</th>
                          <th>Tránsito</th>
                          <th alignFrozen="right" pFrozenColumn [frozen]="novedadFrozen">Observacion</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-expanded="expanded">
                        <tr>
                          <td pFrozenColumn>
                            @if (item.trancitos) {
                              <button type="button" pButton pRipple [pRowToggler]="item"
                                      class="p-button-text p-button-rounded p-button-plain"
                                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            }
                          </td>
                          <td style="white-space: nowrap; min-width: 12rem;" alignFrozen="left" pFrozenColumn
                              [ngClass]="{'font-bold': novedadFrozen}">{{ item.id }}
                          </td>
                          <td style="white-space: nowrap; min-width: 12rem;">{{ item.nombre }}</td>
                          <td>{{ item.item }}</td>
                          <td class="text-right">{{ item.cantidad }}</td>
                          <td class="text-right">{{ item.codFabrica }}</td>
                          <td class="text-right">{{ item.cxb }}</td>
                          <td class="text-right">{{ item.fob | number:'1.4-4' }}</td>
                          <td class="text-right">{{ item.cbm | number:'1.2-2' }}</td>
                          <td class="text-right">{{ item.cantidadTotal }}</td>
                          <td class="text-right">{{ item.cbmTotal | number:'1.2-2' }}</td>
                          <td class="text-right">{{ item.fobTotal | number:'1.4-4' }}</td>
                          <td class="text-right">{{ item.cantidadTrancito }}</td>
                          <td class="font-bold" alignFrozen="right" pFrozenColumn [frozen]="novedadFrozen"
                              [ngClass]="{
                      'font-bold': novedadFrozen,
                      'text-orange-300': item.novedad === 'REPOSICION',
                      'text-green-300': item.novedad === 'NUEVO',
                      'text-blue-300': item.novedad === 'NUEVO',
                      'text-yellow-300': item.novedad !== 'REPOSICION' && item.novedad !== 'NUEVO'}"
                          >{{ item.novedad || 'SIN NOVEDAD' }}
                          </td>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="rowexpansion" let-item>
                        <tr>
                          <td colspan="13">
                            <div class="p-3">
                              <p-table
                                [value]="item.trancitos"
                                dataKey="id"
                                responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th pSortableColumn="fecha">Fecha
                                      <p-sortIcon field="fecha"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nroComprobante">Numero Comprobante
                                      <p-sortIcon field="nroComprobante"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="observacion">Observación</th>
                                    <th pSortableColumn="cantidadPedida">Cantidad Pedida</th>
                                    <th pSortableColumn="fob">FOB</th>
                                    <th pSortableColumn="fobTotal">FOB Total Pedido</th>
                                    <th pSortableColumn="fobTotal">FOB Total Aprobado</th>
                                    <th pSortableColumn="tipoDoc">Tipo Documento</th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-trancito>
                                  <tr>
                                    <td>{{ trancito.fecha }}</td>
                                    <td>{{ trancito.nroComprobante }}</td>
                                    <td>{{ trancito.observacion }}</td>
                                    <td class="text-right">{{ trancito.cantidadPedida | number:'1.2-2' }}</td>
                                    <td class="text-right">{{ trancito.fob | number:'1.4-4' }}</td>
                                    <td class="text-right">{{ trancito.fobTotalPedido | number:'1.4-4' }}</td>
                                    <td class="text-right">{{ trancito.fobTotalAprobado | number:'1.4-4' }}</td>
                                    <td>{{ trancito.tipoDoc }}</td>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                          </td>
                        </tr>
                      </ng-template>

                    </p-table>
                  </div>
                }
                @if (listaOrdenes.listNotSci.length > 0) {
                  <div class="col-12 md:col-6"
                       [ngClass]="{'md:col-12': !(listaOrdenes.listWhitSci && listaOrdenes.listWhitSci.length > 0)}">
                    <p-table
                      [value]="listaOrdenes.listNotSci"
                      dataKey="secuencia"
                      [rows]="30"
                      class="my-3 p-p3"
                      styleClass="p-datatable-gridlines"
                      [rowsPerPageOptions]="[10,30,50,100]"
                      responsiveLayout="scroll">

                      <ng-template pTemplate="caption">
                        <h5>Productos sin Solicitud o en varias Solicitudes <i
                          class="pi false-icon pi-times-circle text-pink-500"></i></h5>
                      </ng-template>

                      <ng-template pTemplate="header">
                        <tr>
                          <th></th>
                          <th>Barra</th>
                          <th>Nombre</th>
                          <th>Item</th>
                          <th>Cantidad</th>
                          <th>Codigo Fabrica</th>
                          <th>CXB</th>
                          <th>FOB</th>
                          <th>CBM</th>
                          <th>Cantidad Total</th>
                          <th>CBM Total</th>
                          <th>FOB Total</th>
                          <th>Observacion</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-item let-expanded="expanded">
                        <tr>
                          <td pFrozenColumn>
                            @if (item.trancitos) {
                              <button type="button" pButton pRipple [pRowToggler]="item"
                                      class="p-button-text p-button-rounded p-button-plain"
                                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            }
                          </td>
                          <td style="white-space: nowrap; min-width: 12rem;">{{ item.id }}</td>
                          <td style="white-space: nowrap; min-width: 12rem;">{{ item.nombre }}</td>
                          <td>{{ item.item }}</td>
                          <td class="text-right">{{ item.cantidad }}
                          <td class="text-right">{{ item.codFabrica }}</td>
                          <td class="text-right">{{ item.cxb }}</td>
                          <td class="text-right">{{ item.fob | number:'1.4-4' }}</td>
                          <td class="text-right">{{ item.cbm | number:'1.2-2' }}</td>
                          <td class="text-right">{{ item.cantidadTotal }}</td>
                          <td class="text-right">{{ item.cbmTotal | number:'1.2-2' }}</td>
                          <td class="text-right">{{ item.fobTotal | number:'1.4-4' }}</td>
                          <td class="font-bold"
                              [ngClass]="{
                          'text-orange-300': item.novedad === 'REPOSICION',
                          'text-green-300': item.novedad === 'NUEVO',
                          'text-blue-300': item.novedad === 'NUEVO',
                          'text-yellow-300': item.novedad !== 'REPOSICION' && item.novedad !== 'NUEVO'}"
                          >{{ item.novedad || 'SIN NOVEDAD' }}
                          </td>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="rowexpansion" let-item>
                        <tr>
                          <td colspan="13">
                            <div class="p-3">
                              <p-table
                                [value]="item.trancitos"
                                dataKey="id"
                                responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                  <tr>
                                    <th></th>
                                    <th pSortableColumn="fecha">Fecha
                                      <p-sortIcon field="fecha"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="nroComprobante">Numero Comprobante
                                      <p-sortIcon field="nroComprobante"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="observacion">Observación</th>
                                    <th pSortableColumn="cantidadPedida">Cantidad Pedida</th>
                                    <th pSortableColumn="fob">FOB</th>
                                    <th pSortableColumn="fobTotal">FOB Total Pedido</th>
                                    <th pSortableColumn="fobTotal">FOB Total Aprobado</th>
                                    <th pSortableColumn="tipoDoc">Tipo Documento</th>
                                  </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-trancito>
                                  <tr>
                                    <td>
                                      <input
                                        aria-label="Escoger cco"
                                        type="checkbox"
                                        [checked]="trancito.seleccionado"
                                        (change)="asignarCCoOrigen(item, trancito,$event)"
                                      >
                                    </td>
                                    <td>{{ trancito.fecha }}</td>
                                    <td>{{ trancito.nroComprobante }}</td>
                                    <td>{{ trancito.observacion }}</td>
                                    <td class="text-right">{{ trancito.cantidadPedida | number:'1.2-2' }}</td>
                                    <td class="text-right">{{ trancito.fob | number:'1.4-4' }}</td>
                                    <td class="text-right">{{ trancito.fobTotalPedido | number:'1.4-4' }}</td>
                                    <td class="text-right">{{ trancito.fobTotalAprobado | number:'1.4-4' }}</td>
                                    <td>{{ trancito.tipoDoc }}</td>
                                  </tr>
                                </ng-template>
                              </p-table>
                            </div>
                          </td>
                        </tr>
                      </ng-template>

                    </p-table>
                  </div>
                }
              </div>
              <button pButton pRipple label="Guardar Orden" severity="primary" (click)="procesarOrden()"
                      class="p-button-raised mb-4"></button>
            } @placeholder (minimum 1000ms) {
              <div class="overflow-x-auto">
                <p-table [value]="[]">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Fecha</th>
                      <th>Numero Comprobante</th>
                      <th>Observación</th>
                      <th>Cantidad Pedida</th>
                      <th>FOB</th>
                      <th>FOB Total Pedido</th>
                      <th>FOB Total Aprobado</th>
                      <th>Tipo Documento</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body">
                    <tr>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                      <td><p-skeleton/></td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            } @loading {
              <div class="card flex justify-center">
                <p-progressSpinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                                   [style]="{ width: '50px', height: '50px' }"/>
              </div>
            } @error {
              <p>Ocurrió un error al cargar.</p>
            }
          }
        } @else {
          <p-progressSpinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                             [style]="{ width: '50px', height: '50px' }"/>
        }
      }

    </div>
  </div>
</div>

<p-overlayPanel #sciSelect [showCloseIcon]="true" [style]="{width: '450px'}">
  <ng-template pTemplate>
    <p-table [value]="listCco" selectionMode="single" [(selection)]="sciSelected" [paginator]="true" [rows]="5"
             (onRowSelect)="seleccionarSciOrigen($event)" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 12rem" pSortableColumn="comprobante">Comprobante
            <p-sortIcon field="comprobante"></p-sortIcon>
          </th>
          <th style="min-width: 5rem">Descripcion</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-tramite>
        <tr [pSelectableRow]="rowData">
          <td>{{ tramite.comprobante }}</td>
          <td>{{ tramite.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>

<app-seleccion-comprobante
  [(visible)]="seleccionComprobante"
  [tipoDoc]="tipoDoc"
  [observacion]="observacion"
  (saveRequest)="handleSaveRequest($event)">
</app-seleccion-comprobante>

<p-confirmDialog key="sinsci" [style]="{width: '50vw'}" [baseZIndex]="100000" [acceptLabel]="'Confirmar'"
                 [rejectLabel]="'Regresar'"></p-confirmDialog>

@if (displayDialog && cco.length > 0) {
  <p-dialog header="Visualización de Carga" [(visible)]="displayDialog" [modal]="true" [style]="{width: '80vw'}">
    <app-detalle-producto-cco [ccoCodigo]="cco"></app-detalle-producto-cco>
  </p-dialog>
}

<p-scrollTop icon="pi pi-arrow-up"></p-scrollTop>
