<div class="card">
  <!--<div class="col-12">
    <app-favorite titulo="Consulta de documentos" [usrId]="usrId"></app-favorite>
  </div>-->

  <div class="card">
    <div (keydown.enter)="find()">
      <!-- Filtros iniciales -->
      <div class="grid p-fluid">
        <div class="grid formgrid">
          <div class="col-12 lg:col-2 field">
            <p-calendar dateFormat="dd-mm-yy" placeholder="Fecha" [required]="true" inputId="fecha"
                        [(ngModel)]="fecha"></p-calendar>
          </div>
          <div class="col-12 lg:col-2 field uppercase">
            <p-dropdown
              inputId="sigla"
              placeholder="Sigla"
              [(ngModel)]="sigla"
              [options]="siglas"
              optionLabel="ctiId"
            >
            </p-dropdown>

          </div>
          <div class="col-12 lg:col-2 field">
            <p-dropdown
              inputId="almacen"
              placeholder="Almacen"
              [options]="almacenes"
              [(ngModel)]="almacenSelected"
              optionLabel="almId"
              (onChange)="onAlmacenChange($event)">
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center">
                  <div class="flex-shrink-0 w-1rem h-1rem mr-2 border-circle"
                       [style.background-color]="'#5676e1'"></div>
                  <div>{{ almacenSelected.nombre }}</div>
                </div>
              </ng-template>
              <ng-template let-alm pTemplate="item">
                <div class="flex align-items-center">
                  <div class="mr-2">{{ alm.almId }}</div>
                  <div>{{ alm.nombre }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-12 lg:col-2 field">
            <input pInputText type="number" placeholder="Serie" [(ngModel)]="serie">
          </div>
          <div class="col-12 lg:col-2 field">
            <input pInputText type="number" placeholder="Numero" [(ngModel)]="numero">
          </div>
          <div class="col-12 lg:col-2 field">
            <button pButton pRipple type="button" label="Mas Filtros" title="Mostrar filtros" icon="pi pi-filter"
                    (click)="visibleSidebarFilters=true" class="p-button-rounded"></button>
          </div>

        </div>
      </div>

    </div>
    <!-- Tabla de documentos -->
    <div>
      <p-table
        styleClass="p-datatable-gridlines"
        [value]="listaComprobantes"
        dataKey="ccoCodigo"
        [rows]="10"
        [rowsPerPageOptions]="[10,20,30]"
        [loading]="loading"
        [rowHover]="true"
        [paginator]="true"
        [responsiveLayout]="'scroll'"
        [globalFilterFields]="['fecha', 'dspComproba', 'doctran']"
        class="my-3 p-p-3"
      >
        <!-- Encabezado de la Tabla -->
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th pSortableColumn="comprobante" class="p-text-center">
              Comprobante
              <p-sortIcon field="comprobante"></p-sortIcon>
            </th>
            <th pSortableColumn="periodo" class="p-text-center">
              Periodo
              <p-sortIcon field="periodo"></p-sortIcon>
            </th>
            <th pSortableColumn="fecha" class="p-text-center">Fecha</th>
            <th pSortableColumn="concepto" class="p-text-center">Concepto</th>
            <th pSortableColumn="referencia" class="p-text-center">Referencia</th>
            <th pSortableColumn="tpdId" class="p-text-center">Documento</th>
            <th pSortableColumn="estado" class="p-text-center">Estado</th>
          </tr>
        </ng-template>

        <!-- Cuerpo de la Tabla -->
        <ng-template pTemplate="body" let-documento>
          <tr>
            <td>
              @if (documento.modId === 'FAC' || documento.modId === 'COM') {
                <button type="button" pButton pRipple
                        class="p-button-text p-button-rounded p-button-plain"
                        label="Ver"
                        (click)="verDocumento(documento.ccoCodigo)"
                        [icon]=" 'pi pi-eye'"></button>
              }
            </td>
            <td class="p-text-center" style="width:15%; min-width: 15rem;">
              <span class="p-column-title">Comprobante</span>
              {{ documento.dspComproba }}
            </td>
            <td class="p-text-center" style="width:5%; min-width: 2rem;">
              <span class="p-column-title">Periodo</span>
              {{ documento.periodo }}
            </td>
            <td class="p-text-center" style="width:10%; min-width: 10rem;">
              <span class="p-column-title">Fecha</span>
              {{ documento.fecha }}
            </td>
            <td class="p-text-center" style="width:25%; min-width: 25rem;">
              <span class="p-column-title">Concepto</span>
              {{ documento.concepto }}
            </td>
            <td class="p-text-center" style="width:10%; min-width: 10rem;">
              <span class="p-column-title">Referencia</span>
              {{ documento.doctran }}
            </td>
            <td class="p-text-center" style="width:8%; min-width: 8rem;">
              <span class="p-column-title">Documento</span>
              {{ documento.tpdId }}
            </td>
            <td class="p-text-center" style="width:5%; min-width: 5rem;">
              <span class="p-column-title">Estado</span>
              {{ documento.estado | estado }}
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>

</div>

<p-sidebar [(visible)]="visibleSidebarFilters" position="right" [baseZIndex]="10000"
           [style]="{width: '90vw', maxWidth: '500px'}">
  <ng-template pTemplate="header">
    <span class="text-900 font-semibold text-xl">Filtros</span>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid p-fluid formgrid">
      <div class="col-12 md:col-6 field">
        <label for="periodo" class="text-900 font-semibold">Periodo</label>
        <span class="p-input-icon-left">
          <p-calendar id="periodo" showIcon [(ngModel)]="periodo" view="year" dateFormat="yy" placeholder="Periodo"/>
        </span>
      </div>
      <div class="col-12 md:col-6 field">
        <label for="mes" class="text-900 font-semibold">Mes</label>
        <span class="p-input-icon-left">
          <p-calendar id="mes" showIcon [(ngModel)]="mes" view="month" dateFormat="MM" placeholder="Mes"/>
        </span>
      </div>
      <div class="col-12 md:col-6 field">
        <label for="referencia" class="text-900 font-semibold">Referencia</label>
        <span class="p-input-icon-left">
          <i class="pi pi-bookmark"></i>
          <input id="referencia" pInputText type="number" placeholder="Referencia" [(ngModel)]="referencia">
        </span>
      </div>
      <div class="col-12 md:col-6 field">
        <label for="concepto" class="text-900 font-semibold">Concepto</label>
        <span class="p-input-icon-left">
          <i class="pi pi-bookmark"></i>
          <input pInputText type="text" placeholder="Concepto" id="concepto" [(ngModel)]="concepto">
        </span>
      </div>
      <div class="col-12 md:col-6 field">
        <label for="estado" class="text-900 font-semibold">Estado</label>
        <span class="p-input-icon-left">
          <p-dropdown id="estado" placeholder="Estado" [options]="estados" [(ngModel)]="estado"
                      optionLabel="name"></p-dropdown>
        </span>
      </div>
      <div class="col-12 md:col-6 field">
        <label for="documento" class="text-900 font-semibold">Documento</label>
        <span class="p-input-icon-left">
          <p-dropdown id="documento" placeholder="Tipo Documento" [options]="tipoDocs" [(ngModel)]="tipodoc"
                      optionLabel="tpdId"></p-dropdown>
        </span>
      </div>
    </div>
    <button pButton pRipple type="button" label="Aplicar" title="Buscar" icon="pi pi-search" (click)="find()"
            class="p-button-rounded"></button>
  </ng-template>

</p-sidebar>
@if (displayDialog && cco.length > 0) {
  <p-dialog header="Visualización de Carga" [(visible)]="displayDialog" [modal]="true" [style]="{width: '70vw'}">
    <app-detalle-producto-cco [ccoCodigo]="cco"></app-detalle-producto-cco>
  </p-dialog>
}
