<div class="col-span-12">
  <p-dropdown inputId="bodegas" [options]="bodegas" [(ngModel)]="bodegaSelected" optionLabel="nombre" (onChange)="onBodegaSelectedChanged($event)">
    <ng-template pTemplate="selectedItem">
      <div class="flex items-center">
        <div class="text-primary mr-2">{{ bodegaSelected.nombre }}</div>
      </div>
    </ng-template>

    <ng-template let-bodega pTemplate="item">
      <div class="flex items-center">
        <div>{{ bodega.nombre }}</div>
      </div>
    </ng-template>
  </p-dropdown>
</div>
