<div class="card">
  <div class="grid p-fluid" (keydown.enter)="find()">
    <div class="col-12">
      <div class="grid grid-cols-12 gap-4">

        <div class="col-span-12 lg:col-span-4">
          <label for="nroComprobante" class="block text-900 font-semibold mb-2">Nro. Comprobante</label>
          <input id="nroComprobante" pInputText type="text" placeholder="Nro. Comprobante"
                 [(ngModel)]="nroComprobante" class="w-full">
        </div>

        <div class="col-span-12 lg:col-span-4">
          <label for="observacion" class="block text-900 font-semibold mb-2">Observación</label>
          <input id="observacion" pInputText type="text" placeholder="Observación"
                 [(ngModel)]="observacion" class="w-full">
        </div>

        <div class="col-span-12 lg:col-span-4">
          <label for="proveedor" class="block text-900 font-semibold mb-2">Proveedor</label>
          <button pButton pRipple type="button"
                  [label]="getButtonLabel()"
                  id="proveedor"
                  icon="pi pi-search"
                  class="p-button-outlined p-button-secondary w-full"
                  (click)="abrirModal()">
          </button>
        </div>

        <div class="col-span-12 md:col-span-6 lg:col-span-3">
          <label for="fecha" class="block text-900 font-semibold mb-2">Fecha</label>
          <p-calendar
            id="fecha"
            dateFormat="dd-mm-yy"
            placeholder="Fecha"
            [required]="true"
            showIcon
            [(ngModel)]="fecha"
            styleClass="w-full">
          </p-calendar>
        </div>

        <div class="col-span-12 md:col-span-6 lg:col-span-3">
          <label for="estado" class="block text-900 font-semibold mb-2">Estado</label>
          <p-dropdown
            id="estado"
            placeholder="Estado"
            [options]="estados"
            [(ngModel)]="estado"
            optionLabel="name"
            styleClass="w-full">
          </p-dropdown>
        </div>

      </div>
    </div>
  </div>

  <div class="mt-4 overflow-x-auto">
    <p-table
      styleClass="p-datatable-gridlines"
      [value]="impProdTrancitos"
      dataKey="id"
      [rows]="10"
      [rowsPerPageOptions]="[10,20,30]"
      [loading]="loading"
      [rowHover]="true"
      [paginator]="true"
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr>
          <th>Nro. Comprobante</th>
          <th>Fecha</th>
          <th>Barra</th>
          <th>Item</th>
          <th>Producto</th>
          <th>Observación</th>
          <th>Cant. Pedida</th>
          <th>Cant. Llegada</th>
          <th>FOB</th>
          <th>FOB Total Pedido</th>
          <th>FOB Total Aprobado</th>
          <th>Estado</th>
          <th>Tipo Documento</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-documento>
        <tr>
          <td class="whitespace-nowrap">{{ documento.nroComprobante }}</td>
          <td class="whitespace-nowrap">{{ documento.fecha }}</td>
          <td class="whitespace-nowrap">{{ documento.proId }}</td>
          <td class="whitespace-nowrap">{{ documento.proId1 }}</td>
          <td class="min-w-[250px]">{{ documento.proNombre }}</td>
          <td class="min-w-[220px]">{{ documento.observacion }}</td>
          <td class="text-right whitespace-nowrap">{{ documento.cantPedida }}</td>
          <td class="text-right whitespace-nowrap">{{ documento.cantLlegada }}</td>
          <td class="text-right whitespace-nowrap">{{ documento.fob }}</td>
          <td class="text-right whitespace-nowrap">{{ documento.fobTotalPedido }}</td>
          <td class="text-right whitespace-nowrap">{{ documento.fobTotalAprobado }}</td>
          <td class="whitespace-nowrap">{{ documento.estado }}</td>
          <td class="whitespace-nowrap">{{ documento.tipoDoc }}</td>
        </tr>
      </ng-template>

    </p-table>
  </div>

  <app-modal-cliente
    [tipoCliente]="'Proveedor'"
    [(visible)]="modalVisible">
  </app-modal-cliente>
</div>
